/*
  ========================================
  GENERAL
  ========================================
*/

html {
  font-size: 16px;
}

body {
  background-color: #E53935;
	font-size: 1em;
}

.hidden {
  display: none;
}

section {
	margin: 0 auto;
}

/*
  ========================================
  QUESTIONS SECTION
  ========================================
*/

