/*
  ========================================
  GENERAL
  ========================================
*/

html {
  font-size: 16px;
}

body {
  background-color: #E53935;
	font-size: 1em;
}

.hidden {
  display: none;
}

section {
	margin: 0 auto;
}

/*
  ========================================
  QUESTIONS SECTION
  ========================================
*/

.qa-form {
	border-top: 30px solid #2E414B;
	max-width: 85%;
	margin: 0 auto;
	-webkit-transform: translateY(10%);
	    -ms-transform: translateY(10%);
	        transform: translateY(10%);
	text-align: center;
}

.question-wrapper {
	background-color: #607D8B;
	padding: 4rem 0;
	height: 15rem;
}

.question {
	color: #fff;
	margin: 0 auto;
	font-size: 1.8rem;
	padding: 0 2.4rem;
	text-align: center;
	line-height: 2.4rem;
}

.radios {
	display: inline-block;
  padding-left: 1em;
	padding-top: 5rem;
}

.submit {
	margin: 4rem 0 5rem;
}


/*
  ========================================
  END GAME MESSAGE
  ========================================
*/

.game-over-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  display: none;
}

.game-over {
	padding-top: 20%;
	padding-bottom: 1.4rem;
  font-size: 5em;
  text-align: center;
  color: #fff;
}

.end-message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  color: #fff;
  font-size: 1.6em;
  font-weight: 300;
  text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
  margin: 0 auto 30px auto;
	width: 70%
}

.play-again {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}



/*------------------------*\
		#MEDIA QUERIES
\*------------------------*/

@media only screen 
	and (min-width: 300px)
	and (max-width: 480px) {
	
	.qa-form {
		display: block;
		min-width: 100%;
		-webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		        transform: translateY(0);
	}

	.question-wrapper {
		height: 240px;
	}

	.question {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-top: -2rem;
	}

	.radios {
		padding-top: 1rem;
	}
	
	.radios p {
		margin: 5px;
	}

	.submit {
		margin-top: 1.4rem;
	}

	.game-over {
		padding-top: 10%;
		padding-bottom: 1rem;
		font-size: 4em;
		text-align: center;
		color: #fff;
	}

	.end-message {
		font-size: 1.1em;
		font-weight: 300;
		text-align: center;
		width: 94%;
		margin-bottom: 6rem;
	}	
}
